
<div *ngIf="payment">
    <h2><span jhiTranslate="posApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="posApp.payment.date">Date</span></dt>
        <dd>
            <span>{{payment.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.payment.card">Card</span></dt>
        <dd>
            <span>{{payment.card}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.payment.paymentMode">Payment Mode</span></dt>
        <dd>
            <span jhiTranslate="{{'posApp.PaymentMode.' + payment.paymentMode}}">{{payment.paymentMode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-pos/'+ payment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
