<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaxLabel" jhiTranslate="posApp.tax.home.createOrEditLabel">Create or edit a Tax</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tax.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tax.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="posApp.tax.taxName" for="field_taxName">Tax Name</label>
            <input type="text" class="form-control" name="taxName" id="field_taxName"
                [(ngModel)]="tax.taxName" required/>
            <div [hidden]="!(editForm.controls.taxName?.dirty && editForm.controls.taxName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="posApp.tax.category" for="field_category">Category</label>
            <select class="form-control" name="category" [(ngModel)]="tax.category" id="field_category"  required>
                <option value="FOOD">{{'posApp.Category.FOOD' | translate}}</option>
                <option value="CLOTHS">{{'posApp.Category.CLOTHS' | translate}}</option>
                <option value="BEVRAGES">{{'posApp.Category.BEVRAGES' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="posApp.tax.percent" for="field_percent">Percent</label>
            <input type="number" class="form-control" name="percent" id="field_percent"
                [(ngModel)]="tax.percent" required min="0" max="100"/>
            <div [hidden]="!(editForm.controls.percent?.dirty && editForm.controls.percent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.percent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.percent?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.percent?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                    This field cannot be more than 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.percent?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
