
<div *ngIf="bill">
    <h2><span jhiTranslate="posApp.bill.detail.title">Bill</span> {{bill.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="posApp.bill.billDate">Bill Date</span></dt>
        <dd>
            <span>{{bill.billDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.bill.billNo">Bill No</span></dt>
        <dd>
            <span>{{bill.billNo}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.bill.totalTax">Total Tax</span></dt>
        <dd>
            <span>{{bill.totalTax}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.bill.discount">Discount</span></dt>
        <dd>
            <span>{{bill.discount}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.bill.total">Total</span></dt>
        <dd>
            <span>{{bill.total}}</span>
        </dd>
        <dt><span jhiTranslate="posApp.bill.payment">Payment</span></dt>
        <dd>
            <div *ngIf="bill.paymentId">
                <a [routerLink]="['/payment-pos', bill.paymentId]">{{bill.paymentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="posApp.bill.createdBy">Created By</span></dt>
        <dd>
            {{bill.createdById}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bill-pos/'+ bill.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
