<div>
    <h2>
        <span jhiTranslate="posApp.billItem.home.title">Bill Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-bill-item-pos" [routerLink]="['/', { outlets: { popup: ['bill-item-pos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="posApp.billItem.home.createLabel">
            Create new Bill Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="billItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="posApp.billItem.quantity">Quantity</span></th>
            <th><span jhiTranslate="posApp.billItem.tax">Tax</span></th>
            <th><span jhiTranslate="posApp.billItem.product">Product</span></th>
            <th><span jhiTranslate="posApp.billItem.bill">Bill</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billItem of billItems ;trackBy: trackId">
                <td><a [routerLink]="['../bill-item-pos', billItem.id ]">{{billItem.id}}</a></td>
                <td>{{billItem.quantity}}</td>
                <td>{{billItem.tax}}</td>
                <td>
                    <div *ngIf="billItem.productId">
                        <a [routerLink]="['../product-pos', billItem.productId  ]" >{{billItem.productId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="billItem.billId">
                        <a [routerLink]="['../bill-pos', billItem.billId  ]" >{{billItem.billId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bill-item-pos', billItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-item-pos/'+ billItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-item-pos/'+ billItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
